.big{
    font-size: 48px;
}

.green{
    color: green;
}

.block{
    width: 100px ;
    height: 100px ;
    border: 1px solid black;
}

.text{
    font-style: italic;
    color: purple;
}

.container{
    width: 200px;
    height: 200px;
    background-color: cyan;
}


ul li a{
    text-decoration: none;
    color: black;
}

